body {
    color: #40514e
    margin: 0;
    text-align: center;
    font-family: serif;
    font-family: 'Merriweather', serif;

}

.profile-photo {
    border-radius: 25px;
}

h1{
    font-size: 5.625rem; /* rem is root em, root is 16px, regardless of what the body font size is */
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    line-height: 2;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    color: #11999E;
}

.pro {
    text-decoration: underline;
}

.skill-row{
    width: 50%;
    margin:100px auto;
    text-align: left;
}

.technical-skill {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.soft-skill {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.intro {
    width: 30%;
    margin: auto;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}