
.top-container {
    background-color: #E4F9F5;
    height: 200px;
    width: 200px;
    border: solid 10px;
    padding: 20px;
}

.middle-container {
    background-color: red;
    height: 200px;
    width: 200px;
    margin-left: 260px;
    border: solid 20px;
}

.bottom-container {
    background-color: yellow;
    height: 200px;
    width: 200px;
    margin-left: 500px;
    border: solid 10px;
}